meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title TITLE
meta(name="description" content=DESC)
meta(name='keywords' content=KEYWORD)
meta(property='locale' name='locale' content='ja_JP')
meta(property='og:title' name='og:title' content=TITLE)
meta(property='og:description' name='og:description' content=DESC)
meta(property='og:image' name='og:image' content=`${URL}assets/img/ogp.jpg`)
meta(property='og:url' name='og:url' content=URL)
meta(property='site_name' name='site_name' content=TITLE)
link(rel='canonical' href=URL)
